name: Android Build # Name that will be displayed under Github's Actions tab

on: pull_request # Built-in trigger that will be executed every time a pull request is created

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Set Up JDK
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Decode WEBUY_API_KEY
        env:
          WEBUY_API_KEY: ${{ secrets.WEBUY_API_KEY }}
        run: echo WEBUY_API_KEY="WEBUY_API_KEY" > ./local.properties

      - name: Check Folder Structure
        run: ls -al

      - name: Run Tests
        run: ./gradlew test

      - name: Build Project
        run: ./gradlew assemble

